<div class="home-container d-flex align-items-center justify-content-center text-white">
  <div class="home-content text-center px-3 px-md-5 py-4">
    <h1 class="display-5 display-md-4 fw-bold">Hi, I'm Hariprasand'T</h1>
    <p class="lead">A Passionate Front-End Angular Developer 🚀</p>
    <p class="mt-3 fs-6 fs-md-5" style="font-family: 'Segoe UI', sans-serif;color: #dcdcdc;">
      I am an Angular Frontend Developer passionate about creating clean, efficient, and user-friendly web applications.
      With 2+ years of hands-on experience, I focus on delivering seamless user experiences through responsive and
      dynamic interfaces. Driven by a strong desire to grow, I am eager to expand my expertise and transition into a
      full stack role, embracing both frontend and backend technologies. I enjoy solving complex problems and
      continuously learning new tools and frameworks to build end-to-end solutions. My goal is to become a versatile
      developer who can contribute effectively to all layers of an application, delivering robust and scalable software,
      more.
    </p>
    <button routerLink="/about" class="btn btn-outline-light mt-3" title="Click to know more about me">Click to know
      more about me</button>
  </div>
</div>